<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .container{
            background: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRNT8tOzK6iZ9fi3z1Qr4HCOtKWG_35F-tuI6ru64uMfZ-o-OMbBO4sCA')
            width: 100%;
            height: 350px;
            display: flex;
            justify-content: center;
        }
        h1, h3{
            display: flex;
        }
    </style>
</head>
<body>
<header class="container">
    <h1 class="logo">Welcome to Twitter Clone</h1> <h3>The Easiest Way to Managing Your Tweets</h3>
</header>
</body>
</html>